<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>{{ trip.nomParking }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">
  <!--slides-->
  <ion-slides class="to-top" pager>
    <ion-slide *ngFor="let image of trip.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides>

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <div class="text-sm">
          <div>
            <ion-icon name="time" class="text-white"></ion-icon>
            <span ion-text color="light">{{ trip.horaire }}</span>
            <br>
            <ion-icon name="ios-calculator-outline" class="text-white"></ion-icon>
            <span ion-text color="light"> Nous vous conseillons fortement ce parking !</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--high light-->
  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">INFORMATIONS</span>
    <ul class="highlight">
      <li *ngFor="let information of trip.informations">
        <ion-icon name="checkmark" class="text-green"></ion-icon>
        <span ion-text color="primary">{{ information }}</span>
      </li>
    </ul>
  </div>

  <!--address-->
  <div class="border-bottom" padding>
    <span ion-text color="primary" class="bold">ADRESSE</span>
    <p ion-text>{{ trip.adresse }}</p>
  </div>
</ion-content>
